body{
    margin: auto;
}
.mydiv{
background-color: slategray;
height: 200px;
width: 100%;
text-align: center;
padding: 10px;
}
.icon{
    margin-left: 15px;
}

.location{
    height: 300px;
    width: 50%;
    float: left;
}
.contact{
    background-color: goldenrod;
    text-align: center;
    float: left;
    width: 50%;
    height: 300px;
}
.logo{
    height: 25px;
    width: 25px;
}
a{
    text-decoration: none;
}
