body{
    margin: auto;
}
.mydiv{
background-color: gray;
height: 450px;
width: 100%;
text-align: center;
}
.location{
    height: 300px;
    width: 50%;
    float: left;
}
.contact{
    background-color: goldenrod;
    float: left;
    width: 50%;
    height: 300px;
}
